.carts table {
    border-collapse: collapse;
}

.carts td {
    padding: 0.5em;
}

.carts td.quantity {
    white-space: nowrap;
}

.carts td.quantity::after {
    content: " ×";
}

.carts td.price {
    font-weight: bold;
    text-align: right;
}

.carts tfoot th,
.carts tfoot th.price {
    font-weight: bold;
    padding-top: 1em;
}

.carts tfoot th {
    text-align: right;
}

.carts tfoot th.price {
    border-top: solid thin;
}

.carts button[type="submit"] {
    background-color: #881;
    border-radius: 0.354em;
    border: solid thin #441;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;
}

.carts button[type="submit"]:hover {
    background-color: #992;
}
